/**
 * Overview 
 */

.hosting-site-list {clear:both;}
#hosting-package-usage {clear:both;}
#hosting-site-list-form {
  position: relative;
}


.hosting-service-info, 
#hosting-server-info, 
#hosting-client-info, 
#hosting-platform-info, 
#hosting-package-info,
#hosting-site-info, 
#hosting-task-info, 
#hosting-site-edit-info, 
#hosting-task-list {
  margin:0 0 1em;
}

#hosting-server-info .form-item, 
#hosting-client-info .form-item, 
#hosting-platform-info .form-item, 
#hosting-package-info .form-item,
#hosting-site-info .form-item, 
#hosting-task-info .form-item, 
#hosting-site-edit-info .form-item {
  margin:0 0 0.5em;
}

#hosting-task-list .form-item {
  margin:0;
}

#hosting-server-info label, 
#hosting-client-info label, 
#hosting-site-edit-info label, 
#hosting-platform-info label, 
#hosting-package-info label, 
#hosting-site-info label, 
#hosting-task-info label {
  display:inline;
}

/**
 * Tables
 */

table code {
  font-size:1em;
}

th.hosting-actions,
td.hosting-actions {
  text-align: right;
}

td.hosting-actions a.hosting-button-enabled,
td.hosting-actions .hosting-button-disabled {
  float: right;
}

.hosting-task-full {
  display: none;
}

/**
 * Hosting queue list.
 */

.view-hosting-task-list .views-field-task-type {
  text-transform: capitalize;
}

.view-hosting-task-list .views-field-task-type a {
  text-transform: none;
}

/**
 * Status icons, colors.
 */

.hosting-status,
td.hosting-service-available,
td.hosting-service-unavailable,
td.hosting-package-upgrade,
td.hosting-package-downgrade,
td.hosting-package-same,
td.hosting-package-missing {
  padding-left:25px !important;
  background-position:5px 7px !important;
  background-repeat:no-repeat !important;
}

span.hosting-status {
  background-position:5px 0px;
  padding: 0px 0px 4px 0px;
}

table.hosting-table .views-field-status {
  padding:0px;
} 

span.hosting-status-icon {
  margin-right: -4px;
}


tr.hosting-warning,
#hosting-package-comparison td.hosting-package-missing {
  background-color: #fe8 !important;
}

tr.hosting-error,
#hosting-package-comparison td.hosting-package-downgrade {
  background-color: #fa8 !important;
}

tr.hosting-queue,
tr.hosting-processing,
#hosting-package-comparison td.hosting-package-same {
  background-color: #e0e8f0 !important;
}

tr.hosting-info { background-color: #f8f8f8 !important; }

tr.hosting-success,
#hosting-package-comparison td.hosting-package-upgrade {
  background-color: #dfc !important;
}

tr.hosting-warning .hosting-status,
#hosting-package-comparison td.hosting-package-missing {  
  background-image: url(images/icon-warning.png);
}

tr.hosting-info .hosting-status { background-image: url(images/icon-notice.png); }

tr.hosting-queue .hosting-status,
td.hosting-package-same {
  background-image: url(images/icon-queue.png);
}

tr.hosting-processing .hosting-status {
  background-image: url(images/loader.gif);
}

td.hosting-service-unavailable,
tr.hosting-error .hosting-status,
td.hosting-package-downgrade {
  background-image: url(images/icon-error.png);
}

td.hosting-service-available,
tr.hosting-success .hosting-status,
td.hosting-package-upgrade {
  background-image: url(images/icon-ok.png);
}

tr.hosting-warning td,
tr.hosting-info td,
tr.hosting-error td,
tr.hosting-queue td,
tr.hosting-success td {
  background-color:transparent !important;
}

/**
 *  Buttons
 */

a.hosting-button-enabled,
.hosting-button-disabled {
  margin: 0 0.5em 0 0;
}

div.hosting-task-retry form, div.hosting-task-retry form input {
  margin:0 !important;
  padding:0 !important;
}

#hosting-wizard-form-buttons { 
  text-align: right;
  font-size: 4em;
  clear: both;
}

/**
 *  Forms
 */

div.hosting-site-field-description {
  display: none;
}


/**
 * Overlay
 */

.ui-dialog-overlay, 
.hosting-overlay { 
  background:transparent url(images/overlay.png) repeat 0 0;
  position: absolute;
  display:block;
  width: 100%;
  height: 100%;
}

.hosting-throbber { 
  background:#FFF url(images/loader.gif) no-repeat center center;
  width: 30px;
  height:30px;
  vertical-align:middle;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin:-15px 0 0 -15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

div#hosting-task-list, div.view-hosting-task-list .view-content { position: relative }
div.modalframe-page-wrapper { background: white }


/**
 * Log in to site link
 */

a.hosting-goto-site-link {
  background-image: url(images/icon-home-32.png);
  background-repeat: no-repeat;
  padding: 8px 0 15px 35px;
  font-weight: bold;
  display: block;
}


.site-form-ajax-processed .form-text {
  width: 90%;
}

.site-form-progress {
  float: right;
}

.site-form-progress .throbber {
  background:#FFF url(images/loader.gif) no-repeat center center;
  width: 19px;
  height: 19px;
  vertical-align:middle;
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
